/*-------------
Google-fonts
--------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
/*-------------
Common-styles
--------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}
.container {
  max-width: 870px;
  margin: 0 auto;
  padding: 30px;
}
.section-title {
  color: #562eff;
}
hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 30px;
}
.highlight-text {
  color: #562eff;
}
section {
  background-color: #fff;
}
/*-------------
Navbar-Section
--------------*/
nav {
  height: 75px;
  background-color: #562eff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo img {
  height: 40px;
  width: 50px;
  margin-right: 15px;
}
.logo span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-weight: bold;
  font-size: 24px;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation li {
  list-style: none;
}
.navigation li a {
  color: white;
  text-decoration: none;
  margin-right: 36px;
  font-weight: bold;
}
#nav-toggler,
.nav-toggle-icon {
  display: none;
}
.bars-icon {
  color: white;
  font-size: 30px;
}
/*-------------
Players-Section
--------------*/
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 30px 0;
}
.single-player {
  display: flex;
  align-items: center;
}
.single-player img {
  width: 56px;
  height: 56px;
  margin-right: 16px;
}

/*-------------
Blogs-Section
--------------*/
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.blog {
  display: flex;
  align-items: center;
  margin: 30px 0;
}
.blog-image img {
  width: 177px;
  height: 117px;
}
.blog-details {
  margin-left: 16px;
}
/*-------------
Courses-Section
--------------*/
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.course {
  padding: 10px;
  width: 245px;
  box-shadow: 7px 5px 42px lightgrey;
  border-radius: 5px;
}
.course img {
  width: 224px;
  height: 104px;
}
.course-author {
  color: #ff4a60;
}
.course-ratting {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.course-duration {
  color: #ff4a60;
  background-color: #fee5df;
  margin-left: 20px;
  padding: 5px;
  border-radius: 20px;
}

/*-------------------------------------------------
Media-query section that's use in mobile responsive
--------------------------------------------------*/
@media only screen and (max-width: 687px) {
  .players,
  .blogs,
  .courses {
    grid-template-columns: repeat(1, 1fr);
  }
  .single-player,
  .blog {
    display: block;
    text-align: center;
  }
  .section-title {
    text-align: center;
  }
  .course {
    margin: 0 auto;
  }
  .nav-toggle-icon {
    display: block;
  }
  .navigation {
    margin: 0;
    background: linear-gradient(
      rgba(84, 46, 255, 0.829),
      rgba(84, 46, 255, 0.74)
    );
    position: absolute;
    top: 70px;
    left: 0;
    display: block;
    width: 100%;
    text-align: center;
    transform: translateY(-330px);
    transition: 0.7s ease-in-out;
  }
  .navigation li {
    padding: 10px 0;
  }
  .navigation li a {
    margin: 0;
    font-size: 20px;
  }
  #nav-toggler:checked ~ .navigation {
    transform: translateY(0);
  }
}
@media only screen and (min-width:688px) and (max-width:991px) {
  .players,.blogs,.courses{
    grid-template-columns: repeat(2,1fr);
  }
}